/* ####### Variables de Estilo ####### */
:root {
  --Color_Html: #eee;
  --Color_Banner: #dadada;
  --Color_Error: #e03326;
  --Toolbar_width: 200px;
  --Main_Left: calc(var(--Toolbar_width) + 10px);
  --Banner_height: 80px;
}

/* ####### Elementos Generales #######*/
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background: #f8f8f8;
}

.Hiden {
  display: none !important;
}

button {
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: #f0f0f0;
  border: 0;
  border-radius: 10px;
  padding: 8px;
  transition: all 0.1s;
  & > img { max-width: 30px; }
  &:hover {
    background-color: #ccc;
  }
  &.Btn_Sty_0 {
    color: #fff;
    background-color: transparent ;
    &:hover { background-color: #00000055  ; }
    & > img { filter: invert(1); }
  }
  &.Btn_Sty_1 {
    font-weight: 600;
    color: #fff;
    background-color: #239B56 ;
    &:hover { background-color: #145A32  ; }
    & > img { filter: invert(1); }
  }
  &.Btn_Sty_2 {
    font-weight: 600;
    color: #fff;
    background-color: #184c7c;
    &:hover { background-color: #1f64b4; }
    & > img { filter: invert(1); }
  }
  &.Btn_Sty_3 {
    font-weight: 600;
    color: #fff;
    background-color: #c91313;
    &:hover { background-color: #790909; }
    & > img { filter: invert(1); }
  }
  &.Btn_Sty_4 {
    font-weight: 600;
    color: #fff;
    background-color: #fff;
    &:hover { background-color: #fff; }
  }
  &.Btn_Sty_5 {
    font-weight: 600;
    width: 100%;
    justify-content: center;
    &:hover { background-color: #ccc ; }
  }
  &.CHECKED{ background-color: #ccc; }
}

.BG {
  position: absolute;
  inset: 0 0 0 0;
  object-fit: contain;
  z-index: -5;
}

.Banner {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  background-color: #ccc;
  padding: 10px 15px;
  margin: -15px -15px 15px ;
  height: 55px;
  z-index: 1;
  & h3,p {
    margin: 0;
    margin-bottom: 5px;
  }
  & div:nth-child(2) {
    
    display: flex;
    gap: 10px;
  }
}

#TOOLBAR {
  overflow: hidden;
  user-select: none;
  position: absolute;
  inset: 0 0 0 0; right: unset;
  display: grid;
  grid-template-rows: 290px auto 200px;
  gap: 5px;

  background-color: #184c7c;
  padding: 5px;
  width: var(--Toolbar_width);
  z-index: 10;

  & > div {
    &:nth-child(1){justify-content: flex-start;}
    &:nth-child(3){justify-content: flex-end;}

    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: stretch;
    justify-content: center;
   
    & div[class="Toolbar_User"]{
      display: flex;
      gap: 5px;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      & p {
        color: #fff;
        margin: 0px;
      }
      & img{
        border-radius: 15px;
        width: calc(var(--Toolbar_width) - 50px);
      }
    }
    & img[class="IMG_Logo"]{
      align-self: center;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 10px;
      width: 95%;
    } 
    & #Toolbar_Time {
      color: #fff;
      text-align: center;
    }
  }
}

#LOGIN, #RECUPERAR {
  user-select: none;
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #184c7c;
  margin: auto;
  z-index: 5;
  & form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background-color: #052953aa;
    border-right: #00000032 solid 5px;
    padding: 15px;
    width: max-content;
    height: 100%;
    
    & h2 {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }
    & input[type="text"] {
      font-size: 1.25rem;
      color: #fff;
      background-color: #00000035;
      outline: none;
      border: 0;
      border-bottom: transparent solid 3px;
      border-radius: 10px;
      padding: 15px;
      transition: border 0.15s;
      
      &:focus {
        border-bottom: #68abe9bb solid 3px;
      }
    }
    & label {
      cursor: pointer;
      font-weight: 600;
      color: #2e8af3;
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 5px;
      border-radius: 10px;
      padding: 10px 0;
      margin-bottom: 10px;
      transition: background 0.1s;
      &:hover {
        background-color: #1b67f030;
      }

      & input[type="checkbox"] {
        accent-color: #2e8af3;
        width: 20px;
        height: auto;
      }
    }
    & > img {
      filter: drop-shadow(0 0 3px #fff);
    }
    & button {
      justify-content: center;
    }
    & hr {
      background-color: #ffffff75;
      border: 0;
      width: 100%;
      height: 2px;
    }
  }
}

#LOADING {
  user-select: none;
  position: absolute;
  inset: 0 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #184c7c;
  margin: auto;
  z-index: 11;
  & h1,p {
    color: #fff;
    text-align: center;
  }
}

#MAIN {
  user-select: none;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  padding: 15px;
  z-index: 0;
  & div[class="Cn_Main"]{
    & .User_Info {
      display: flex;
      align-items: center;
      max-width: 1200px;
      margin: auto;
      & table {
        background-color: #eee;
        border-radius: 15px;
        padding: 15px;
        width: 100%;
  
        & td {
          border-bottom: #ccc solid 2px;
          padding: 3px 10px;

          & p {
            display: inline;
            padding: 5px;
          }
        }
      }
      & img {
        background-color: #ccc;
        border-radius: 15px;
        padding: 5px;
        margin-right: -10px;
        --WIDTH: min(150px, 14vw);
        width: var(--WIDTH);
        height: var(--WIDTH);
        z-index: 5;
      }
    }
    & .Consult_Info{
      margin: auto;
      max-width: 1200px;
      & table {
        background-color: #eee;
        border-radius: 10px;
        width: 100%;
        & td {
          border-bottom: #ccc solid 2px;
          padding: 5px;
          width: auto;
          & p {
            display: inline;
            margin: 5px;
          }
        }
      }
    }
    & .Menu {
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: auto;
  
      & button {
        gap: 15px;
        padding: 15px;
        width: 48%;
        & img { max-width: 40px; }
        & h2 {
          text-align: left;
          padding: 0;
          margin: 5px;
        }
        & p {
          text-align: left;
          padding: 0;
          margin: 5px;
        }
      }
    }
  }
  & h2 { text-align: center; }
}

#DATES {
  user-select: none;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  padding: 15px;
  z-index: 0;
  & h2 {
    text-align: center;
  }
  & div[class="Cn_Dates"]{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: stretch;

    & div[class="Dates_Days"]{
      & #Calendar {

        & #Calendar_MM {
          display: flex;
          justify-content: space-between;
          width: 345px;

          & button {
            justify-content: center;
            width: 50px;
            height: 50px;
          }
        }
        & #Calendar_DD {
          display: grid;
          grid-template-columns: repeat(7,45px);
          justify-content: stretch;
          gap: 5px;

          & span {
            font-weight: 800;
            text-align: center;
            & button {
              justify-content: center;
              border-radius: 5px;
              width: 45px;
              height: 45px;
            }
            &.DD_Actual button{
              font-weight: 600;
              color: #eee;
              background-color: #184c7c;
            }
          }
        }
      }
    }
    & #Dates_Details {
      padding: 5px 10px;
      & h2,h3 {
        margin: 0;
      }
      & p {
        margin: 5px;
      }
    }
    & div[class="Dates_List"]{
      width: 100%;
      & > ul {
        & > li {
          list-style: none;
          & summary {
            cursor: pointer;
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px;
            &:hover {
              background-color: #ddd;
            }
          }
          & ul {
            padding: 0;
            & > li {
              list-style: none;
              & a {
                color: #000;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
                border: #ddd solid 2px;
                border-radius: 10px;
                padding: 5px;
                margin-bottom: 5px;
                max-width: 500px;
                &:hover {
                  background-color: #ddd;
                }
              }
              & h4,p {
                margin: 5px;
              }

            }
          }

        }
      }

    }
  }
}

#DATES_NEW {
  user-select: none;
  background-color: #ddd;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  border-radius: 10px;
  width: min(calc(95vw - var(--Main_Left)),620px);
  height: max-content;
  margin: auto;
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  & .Cn_Banner_2 {
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    & div {
      display: flex;
      gap: 10px;
    }
    & button {
      padding: 15px;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 15px;
    & div {
      display: flex;
      gap: 5px;
    }
    & input {
      font-size: 1rem;
      border: 0;
      border-bottom: #bbb solid 2px;
      border-radius: 5px;
      padding: 15px 10px;
      width: calc(100% - 20px);
    }
  }
}

#SEARCH {
  user-select: none;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  z-index: 0;
  & div[class="Cn_Search"]{
    display: flex;
    padding: 15px;
    
    & #S_Filers {
      display: flex;
      flex-direction: column;
      gap: 10px;
      & h3 {
        margin: 0;
      }
      & input {
        font-size: 1rem;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: 0;
      }
      & select {
        font-size: 1rem;
        padding: 10px 5px;

      }
      & button {
        width: 100%;
      }
    }

    & > hr {
      margin-left: 15px;
    }
    & #S_Table {
      overflow: auto;
      padding: 0 10px;
      width: 100%;
      height: calc(96vh - var(--Banner_height));
      & h2 {
        text-align: center;
      }
      & table {
        width: 100%;
        & .Table_UP {
          font-weight: 600;
          background-color: #ccc;
          &:hover {
            background-color: #ccc;
          }
          & td {
            border-bottom: #bbb solid 3px;
            padding: 5px;
          }
        }
        & tr {
          &:hover {
            background-color: #eee;
          }
        }
        & td {
          text-align: center;
          border-radius: 5px;
          padding: 5px 0; 
          & button {
            margin: auto;
          }
        }
      }
    }
  }
}

#NOTES {
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  z-index: 0;
  & .Cn_NotesDocs {
    background-color: #145A32;
    padding: 15px;

    & .Cn_Box_Sty_1 {
      display: flex;
      gap: 10px;
      
      & button {
        font-size: 1rem;
        font-weight: 600;
        flex-direction: column;
        width: 120px;
        & img {
          max-width: 50px;
        }
      }
    }
  }
}

#PHELP {
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  padding: 15px;
  z-index: 0;
  & #HELP {
    max-width: 720px;
    & h1 {
      margin: 5px 0; 
    }

    & .Grid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      & h3 {
        margin: 5px;
        text-align: center;
      }
      & div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 5px;
        min-width: max-content;
        flex-basis: 300px;

        & button {
          padding: 15px;
          width: 100%;
        }
        & h4, p{
          margin: 0;
        }
      }
    }
  }
}

#PACIENT_SELECT {
  user-select: none;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  padding: 15px;
  z-index: 0;
  & .Cn_Pacientes_Index {

    & #TABLE_PACIEENTS_COUNT {
      display: flex;
      gap: 15px;
      justify-content: space-evenly;
      margin: auto;
      padding: 10px;
      max-width: 700px;
      & > div {
        display: flex;
        gap: 15px;
        & p {
          text-align: center;
          margin: 5px;
        }
      }
      & img {
        width: 50px;
      }
    }
    & h3 {
      text-align: center;
    }
    & .Search {
      display: flex;
      justify-content: center;
      gap: 5px;
      & select {
        font-size: 1rem;
        border: 0;
        border-radius: 5px;
        padding: 10px;
        width: max-content;
      }
      & input {
        font-size: 1rem;
        border: 0;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        max-width: 350px;
      }
      & button {
        border-radius: 5px;
        width: 120px;
      }
    }
    & table.Pacient_List{
      margin: auto;
      width: 100%;
      max-width: 1200px;

      & tr {
        transition: background-color 0.15s;
        border-radius: 15px;
        &.Table_Up {
          background-color: #ddd;
          & td {
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            padding: 10px;
          }
          &:hover {
            background-color: #ddd;
          }
        }
        &:hover {
          background-color: #eee;
        }
      }
      & td {
        &:first-child, &:last-child {
          text-align: center;
          & a,p {
            font-weight: 600;
            color: #1f64b4;
            text-decoration: none;
          }
          & button {
            margin: auto;
            justify-content: center;
          }
        }
        & p {
          margin: 5px;
        }
        & button {
          padding: 10px;
          width: 100px;
        }
      }
    }
  }
}

#PACIENT_REGISTER {
  user-select: none;
  background-color: #ddd;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  border-radius: 10px;
  width: max(70vw,620px);
  height: max-content;
  margin: auto;
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  
  & .Cn_Banner_2{
    display: flex;
    background-color: #bbb;
    padding: 10px;
    & div {
      display: flex;
      gap: 5px;
      align-items: center;
      & button {
        width: max-content;
      }
    }
    & span {
      width: 100%;
    }
    & h3,p {
      margin: 5px;
    }
  }
  & form {
    & > div {
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(2,auto);
      padding: 0 10px;
    }
    & .Input_Div {
      position: relative;
      & input {
        font-size: 1rem;
        padding: 13px 10px;
        border: 0;
        border-radius: 5px;
        width: calc(100% - 20px);
        &:invalid {
          color: transparent;
        }
        &:focus, &:valid {
          color: #000;
        }
        &:focus + label, &:valid + label {
          color: #888;
          transform: translateY(-12px) translateX(-12%) scale(0.75);
        }
      }
      & label {
        color: #555;
        position: absolute;
        left: 10px;
        top: 8px;
        z-index: 5; 
        transition: all 0.15s;
      }
    }
    & select {
      font-size: 1rem;
      padding: 0 10px;
    }
  }
}

#PACIENT_DATA {
  user-select: none;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  padding: 15px;
  z-index: 0;
  & > .Cn_Box_Sty_0 {
    position: absolute;
    top: 85px;
    display: flex;
    gap: 10px;
    width: calc(100% - 30px);
    max-width: 800px;  
  }
  & #PACIENT_INFO {
    & .Grid {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
    }
    & #PACIENT_INFO_A {
      width: calc(100vw - 280px - var(--Main_Left));
      max-width: 550px;
      & p {
        margin: 5px 0;
      }
      & img {
        width: 150px;
        border-radius: 10px;
      }
      & table {
        width: 100%;
        & td:first-child {
          font-weight: 600;
          text-align: center;
          border: #ccc solid 2px;
          border-radius: 5px;
          width: max-content;
          
        }
        & input {
          font-size: 1rem;
          border: 0;
          padding: 10px;
          width: calc(100% - 20px);
        }
      }
    }
    & #PACIENT_INFO_B {
      width: 300px;
      padding: 0 10px;
      & p {
        margin: 0 0 5px 30px;
      }
      & summary {
        font-weight: 600;
        text-transform: uppercase;
        padding: 5PX;
      }
    }
  }

  & #PACIENT_HISTORY {
    & .Cn_Pacientes_History{
      max-width: 850px;
    }
    & table {
      width: 100%;
      max-width: 800px;
      & td {
        width: 25%;
        & button {
          justify-content: center;
          border-radius: 5px;
          width: 100%;
          height: 55px;
        }
      }
    }
    & details {
      padding: 10px 0;
      & summary {
        cursor: pointer;
        padding: 10px 0;
      }
    }
    & input {
      font-size: 1rem;
      padding: 10px;
      border: 0;
      border-bottom: #ccc solid 2px;
      border-radius: 5px;
      width: calc(100% - 20px);
    } 
    & textarea {
      font-size: 1rem;
      border-radius: 5px;
      padding: 10px;
      width: calc(100% - 20px);
    }
    & #TABLE_Historial_4 {
      & div {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 5px;

        & input {
          width: auto;
        }
      }
    }
  }

  & #PACIENT_NOTES, #PACIENT_DATES, #PACIENT_DOCS {
    & h2 {
      text-align: center;
    }
    & > div > .Cn_Box_Sty_0 {
      display: flex;
      text-align: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;
      width: max-content;
      max-width: 100%;
      & hr {
        margin: 0;
      }
      & button {
        flex-direction: column;
        width: 100px;
        & img {
          max-width: 50px;
        }
      }
    }
    & hr + div[class], details + div[class]  {
      width: 100%;
      & h2 + div{
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: auto;
        margin-bottom: 15px;
        & input {
          font-size: 1rem;
          border: 0;
          border-bottom: #ccc solid 2px;
          border-radius: 5px;
          padding: 10px;
          width: 50%;
        }
        & select {
          font-size: 1rem;
          border-radius: 5px;
          padding: 10px;
          width: 100%;
          max-width: 120px;
        }
      }
      & table {
        margin: auto;
        width: 100%;
        max-width: 1200px;
        & tr {
          &:hover {
            background-color: #eee;
          }
          &.Table_UP {
            font-weight: 600;
            text-transform: uppercase;
            background-color: #ddd;
            &:hover {
              background-color: #ddd;
            }
          }
          & td {
            text-align: center;
            border-radius: 5px;
            padding: 5px;
            & div {
              display: flex;
              gap: 5px;
              width: max-content;
            }
          }

        }
      }
    }
  }
}

#ENOTE,  #FNOTE, #TRNOTE, #RECIPE, #CNOTE, #REPORT  {
  user-select: none;
  background-color: #ddd;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  border-radius: 10px;
  width: min(calc(95vw - var(--Main_Left)),880px);
  height: max-content;
  margin: auto;
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  & h3 {
    text-transform: uppercase;
    margin: 5px;
  }
  & .Cn_Banner_2 {
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    & div {
      display: flex;
      gap: 10px;
    }
    & h3, p {
      margin: 0;
    }
    & button {
      padding: 15px;
    }
  }
  & input {
    font-size: 1rem;
    border: 0;
    border-bottom: #bbb solid 2px;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);  
  }
  & .data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 15px;
    & div {
      display: grid;
      grid-template-columns: repeat(2,auto);
      gap: 5px;
      & span {
        display: flex;
        gap: 5px;
      }
      & button {
        width: max-content;
      }
    }
  }
  & .Grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 15px;
    margin-bottom: 15px;

    & span {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    & div {
      width: 100%;
    }
  }
  & textarea {
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
  & .more {
    & input[type="checkbox"]{
      margin: 5px;
      width: min-content;
    }
    & label {
      cursor: pointer;
      display: flex;
      padding: 5px;
    }
  }
}

#CNOTE {
  & .more{
    overflow: auto;
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    height: 480px;
    & .CNote_3 {
      width: 100%;
      & h3 {
        text-align: center;
      }
      & input::placeholder {
        text-transform: uppercase;
      }
    }
    & .General{
      display: flex;
      gap: 15px;

      & > div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        & > div {
          display: flex;
          gap: 10px;
        }
      }
      & input {
        padding: 10px;
      }
      & .Vitals {
        & input {
          padding: 19px 10px;
        }
      }
    }
  }
  & .CNote_2{
    padding: 10px 15px 0;
    display: flex;
    gap: 5px;
    & button {
      font-size: 0.75rem;
      padding: 10px;
      text-transform: uppercase;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    
  }
  
  & #CNOTE_AAS {
   & > div {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    & label {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border: #aaa solid 2px;
      border-radius: 10px;
      padding: 10px 0;
      width: 48%;

      & > input[type="checkbox"] {
        width: 0;
        &::before {
          position: absolute;
          inset: 0 0 0 0;
          content: "";
          border-radius: 10px;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
        &:checked {
          &::before{
            background-color: #bbb;
          }
        }
      }
      & input[type="text"]{
        padding: 10px 15px;
        height: 100%;
      }
    }
   }
  }
  & #CNOTE_SA, #CNOTE_MA, #CNOTE_FE, #CNOTE_SNP {
    & table {
      width: 100%;
      & tr {
        &:first-child {
          font-weight: 600;
          background-color: #ccc;
          height: 40px;
        }
        & td {
          overflow: hidden;
          text-align: center;
          border-radius: 5px;
          border: #ccc solid 2px;
          &:first-child {            
            padding: 5px;
          }
        }
      }
      & input {
        padding: 10px 15px;
        width: calc(100% - 30px);
      }
    }
  }
}

#UPDOC, #IMPORT_FILE, #IMPORT_FILE_R, #IMPORT_JSON, #Mn_DoctorList {
  user-select: none;
  background-color: #ddd;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  border-radius: 10px;
  margin: auto;
  height: max-content;
  width: min(calc(95vw - var(--Main_Left)),520px);
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  & .Cn_Banner_2 {
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    & div {
      display: flex;
      gap: 10px;
    }
    & h3, p {
      margin: 0;
    }
    & button {
      padding: 15px;
    }
  }
  & .Cn_Banner_2 + div {
    padding: 10px;
  }
  & input[type="file"] {
    font-size: 1rem;
    cursor: pointer;
    padding: 40px 15%;
    margin: 15px;
  }
  & input[type="text"] {
    font-size: 1rem;
    border: 0;
    border-bottom: #bbb solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    width: calc(100% - 20px);
  }
  & textarea {
    font-size: 1rem;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 20px);
  }

}

#EGNOTE {
  user-select: none;
  overflow: hidden;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  background-color: #ddd;
  border-radius: 10px;
  margin: auto;
  height: max(calc(100% - 100px));
  width: min(calc(95vw - var(--Main_Left)),820px);
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  & .Cn_Banner_2 {
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    & div {
      display: flex;
      gap: 10px;
    }
    & h3, p {
      margin: 0;
    }
    & button {
      padding: 15px;
    }
  }
  & .data {
    padding: 15px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: calc(100% - 120px);

    & div {
      display: flex;
      gap: 5px;
    }
    & input[type="text"] {
      font-size: 1rem;
      border: 0;
      border-bottom: #888 solid 2px;
      border-radius: 5px;
      padding: 10px;
      width: calc(100% - 20px);
    }
    & .Grid {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 5px;
    }
    & h3 {
      text-align: center;
    }
    & label {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 5px;
      & input {
        width: 20px;
        height: 20px;
      }
    }
  }
}

#CAMARA {
  user-select: none;
  background-color: #ddd;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  border-radius: 10px;
  margin: auto;
  height: max-content;
  width: min(calc(95vw - var(--Main_Left)),520px);
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  & .Cn_Banner_2 {
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    & div {
      display: flex;
      gap: 10px;
    }
    & h3, p {
      margin: 0;
    }
    & button {
      padding: 15px;
    }
  }
  & div > div {
    padding: 15px;
    text-align: center;
  }
  & video {
    background-color: #00000032;
    border: #888 solid 5px;
    outline: #bbb solid 5px;
    border-radius: 10px;
    object-fit: cover;
    width: 250px;
    height: 250px;
  }
}

#CONFIG {
  user-select: none;
  background-color: #ddd;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  border-radius: 10px;
  width: min(calc(95vw - var(--Main_Left)),880px);
  height: max-content;
  margin: auto;
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  & .Cn_Banner_2 {
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    width: auto;
    & div {
      display: flex;
      gap: 10px;
    }
    & h3, p {
      margin: 0;
    }
    & button {
      padding: 15px;
    }
  }
  & > div {
    padding: 0 15px;
  }
  & .Config_Menu {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    & button {
      justify-content: center;
      width: 100%;
    }
  }
  & input {
    font-size: 1rem;
    border: 0;
    border-bottom: #888 solid 2px;
    border-radius: 5px;
    padding: 15px;
    &[type="date"] {
      min-height: 1rem;
    }
  }
  & select {
    font-size: 1rem;
    padding: 15px;
  }
  & .Flex2 {
    & span { display: inline-block; text-align: center; width: 120px;}
    & input, select { width: calc(100% - 150px);}
  }
  & #CONFIG_USER {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 520px;
    & h3 {
      text-align: center;
    }
    & button {
      justify-content: center;
      width: 100%;
    }
    
  }
  & #CONFIG_CONSULTORY {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 520px;
    & h3 {
      text-align: center;
    }
    & p {
      margin: 0;
    }
  }
  & #CONFIG_TIME {
    display: flex;
    flex-direction: column;
    gap: 5px;
    & div {
      display: grid;
      grid-template-columns: 100px auto auto;
      text-align: center;
      gap: 5px;
      & input {
        width: auto;
      }
    }
    & h3 {
      text-align: center;
    }
    & p {
      margin: auto;
      text-align: center;
    }
  }
  & #CONFIG_DB {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 520px;
    & p, h3 {
      margin: 5px;
    }
    & h3 {
      text-align: center;
    }
  }
  & #CONFIG_GENERAL {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 520px;
    & h3 {
      text-align: center;
      margin: 5px;
    }
    & button {
      justify-content: center;
      width: 100%;
    }
    & .Grid {
      display: grid;
      grid-template-columns: 100px auto;
      gap: 5px; 
      text-align: center;
    }
  }
  & .Flex {
    display: flex;
    gap: 5px;
  }
  & h3 {
    text-transform: uppercase;
  }
}

#ALERT {
  user-select: none;
  background-color: #ddd;
  position: absolute;
  inset: 0 0 0 0;
  overflow: auto;
  outline: #ddd solid 5px;
  border: #aaa solid 5px;
  border-radius: 10px;
  box-shadow: #ddd 0 0 15px 15px;
  margin: auto;
  padding: 20px;
  width: min(calc(95vw - var(--Main_Left)),880px);
  height: max-content;
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  & .Alert_Top {
    display: flex;
    gap: 15px;
    width: 100%;
    & img {
      width: 120px;
    }
    & p, h1 {
      margin: 5px;
    }
  }
}

#CART {
  user-select: none;
  background-color: #ddd;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  border-radius: 10px;
  width: min(calc(95vw - var(--Main_Left)),880px);
  height: max-content;
  margin: auto;
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  & .Cn_Banner_2 {
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    & div {
      display: flex;
      gap: 10px;
    }
    & h3, p {
      margin: 0;
    }
    & button {
      padding: 15px;
    }
  }
  & .data {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 15px;
    & div {
      display: flex;
      gap: 5px;
      & input {
        width: 100%;
      }
    }
    & input {
      font-size: 1rem;
      border: 0;
      border-bottom: #888 solid 2px;
      border-radius: 5px;
      padding: 10px;
      width: auto;
    }
  }
  & textarea {
    font-size: 1rem;
    padding: 10px;
    margin: 0 15px 10px;
    width: calc(100% - 55px);
    height: 350px;
  }
}

#CART2 {
  user-select: none;
  background-color: #ddd;
  position: absolute;
  inset: 0 0 0 0;
  left: var(--Main_Left);
  overflow: auto;
  border-radius: 10px;
  width: min(calc(95vw - var(--Main_Left)),880px);
  height: max-content;
  margin: auto;
  z-index: 5;
  &::before {
    position: fixed;
    inset: 0 0 0 0;
    content: "";
    background-color: transparent;
    z-index: -1;
  }
  & .Cn_Banner_2 {
    background-color: #bbb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    & div {
      display: flex;
      gap: 10px;
    }
    & h3, p {
      margin: 0;
      text-align: center;
    }
    & button {
      padding: 15px;
    }
  }
  & .Grid {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 10px;
    padding: 10px 15px;
  }
  & h3 {
    margin: 5px;
  }
  & ul {
    padding: 0;
    & li {
      list-style: none;
      margin: 0;
      margin-bottom: 5px;

      & button {
        border-radius: 5px;
        justify-content: flex-start;
        width: 100%;
      }
    }
  }
}

#Mn_DoctorList {
  & ul {
    margin: 0;
    padding: 10px 0;
  }
  & li {
    list-style: none;
    margin: 0;
    padding: 5px 20px;
  }
  & .Flex {
    display: flex;
    gap: 15px;
    & div {
      width: 100%;
    }
    & p {
      margin: 5px;
    }
  }
}

#REPORT {
  left: 0;
  padding: 0 15px;
  & h1,h3 {
    text-align: center;
  } 
  & textarea {
    width: calc(100% - 25px);
    height: 350px;
  }
  & .Grid {
    justify-content: right;
  }
  & button {
    padding: 15px 25px;
  }
}